<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chore Commander</title>
</head>
<body>
<h1>Due today...</h1>
<form method="post" th:action="@{/chore}" th:object="${chore}">
    <ul>
        <li th:each="chore: ${choresDue}">
            <input type="checkbox" name="choreIds" th:value="${chore.id}"/>
            <label th:text="${chore.name}"></label>
        </li>
    </ul>
    <input type="submit" value="Mark Chores Complete">
</form>

<form method="post" action="#" th:action="@{/chores}" th:object="${chore}">
    <input type="text" th:field="*{name}" placeholder="Chore name">
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">Chore name is invalid</span>
    <br>

    <input type="text" th:field="*{daysBetween}" placeholder="Do chore every # days">
    <span class="validationError"
          th:if="${#fields.hasErrors('daysBetween')}"
          th:errors="*{daysBetween}">Chore name is invalid</span>
    <br>
    <input type="submit" value="Add chore">
</form>

<hr>
<h1>All Chores</h1>
<form th:method="delete" th:action="@{/deleteChore}" th:object="${chore}">
<ul>
    <li th:each="chore: ${allChores}">
        <input type="checkbox" name="choreIds" th:value="${chore.id}"/>
        <label th:text="${chore.name} + ' every ' + ${chore.daysBetween} + ' days'"></label>
    </li>
</ul>
    <input type="submit" value="Delete selected chores">
</form>

</body>
</html>